.SelectInput {
  display: flex;
  align-items: center;
}

.input {
  margin-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.InputGroupLabel {
  color: rgba(0, 0, 0, 0.7);
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.input label {
  display: flex;
  margin: 0.3rem 0;
  font-size: 1rem;
  flex: 1;
  align-items: center;
  padding-top: auto;
}

.textFieldLabel {
  white-space: nowrap;
  padding-bottom: 0.25rem;
}

.input input {
  width: 100%;
  padding: 0.6rem;
  font-size: 0.9rem;
  outline: none;
  border: none;
  border: 3px solid #ffd0ec;
  border-radius: 5px;
}

.radio {
  width: fit-content;
  display: inline-block;
}

.input input:disabled {
  background-color: #f2f2f2;
  color: #999999;
  cursor: not-allowed;
  border: 1px solid #ebebeb;
}

.input input::placeholder {
  text-overflow: ellipsis;
}

.prefixContainer {
  border: 1px solid #cccccc;
  display: flex;
  border-radius: 5px;
}

.prefixContainer label {
  margin-left: 0.6rem;
}

.prefixContainer.disabled {
  background-color: #f2f2f2;
  color: #999999;
}

.error,
.error input {
  color: red;
}

.error .prefixContainer {
  border-color: red;
}

.radioButton,
.checkBox {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.radioButton input,
.checkBox input {
  margin-right: 0.2rem;
  cursor: pointer;
}

.radioButtons {
  margin-bottom: 1rem;
}

.checkBox {
  display: inline-block;
}

.fileInputContainer {
  width: 100%;
  flex: 1;
}

.fileInputLabel .inputContainer {
  display: flex;
  flex-direction: row;
}

.fileInputLabel span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.fileInputLabel span::before {
  content: attr(data-buttontext);
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

.fileInputLabel span::after {
  content: attr(data-prompt);
}

.fileInputLabel input:disabled {
  background: none;
  border: none;
}

.fileInputDisabled span {
  cursor: not-allowed;
  background-color: #f2f2f2;
}

.input.error span {
  border-color: red;
  color: red;
}

@media screen and (max-width: 770px) {
  .input {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
