.heroSection {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 10vh;
  align-items: center;
  min-height: 95vh;
}

.heroImage {
  position: relative;
  width: 100vw;
  height: 70vw;
}

/* Utility classes */
.heroSection.columnReverse {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .heroSection {
    min-height: 95vh;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 4rem;
    min-height: 91vh;
    gap: 0;
  }
  .heroImage {
    width: 40vw;
    height: 40vw;
  }
}
