.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  min-width: 9rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.btn a {
  color: #fff;
}

.btn:disabled {
  background-color: grey;
}

.btn:active {
  scale: 0.9;
}
