.scrollup {
  position: fixed;
  right: -20%;
  bottom: 3rem;
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 0.5rem;
  border-radius: 0.4rem;
  z-index: 100;
  transition: right 0.5s, bottom 0.2s;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.scrollup:active {
  transform: scale(0.9);
}

.showScroll {
  right: 1rem;
}

.scrollup div {
  position: relative;
  height: 1rem;
  width: 1rem;
}

@media screen and (min-width: 768px) {
  .scrollup {
    bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .scrollup {
    bottom: 5rem;
    padding: 0.75rem;
  }

  .showScroll {
    right: 2rem;
  }
}
