.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw;
}

.navMenu {
  list-style: none;
  display: flex;
  align-items: center;
}

.navMenu .navItem a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

/* Link hover effect */

.navMenu .navItem {
  position: relative;
}

.navMenu .navItem:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 3px;
  width: 0%;
  background: var(--primary-color);
  transition: all 0.3s ease;
}

.navMenu .navItem.activePage:before,
.navMenu .navItem:hover:before {
  width: 100%;
}

@media screen and (max-width: 767px) {
  /* Nav menu default hidden */
  .navbar {
    background-color: var(--primary-color);
  }

  .navbar h4 {
    color: #fff;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    left: -100vw;
    top: 7.3vh;
    height: 92.7vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu .navItem a {
    color: #000;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .navMenu .navItem.activePage a {
    font-weight: 700;
  }

  /* Hamburger hidden for large screens */

  .bar {
    display: block;
    width: 1.5rem;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
  }

  .hamburger .bar {
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-0.5rem) rotate(-45deg);
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 2vw 4vw;
  }

  .navMenu {
    gap: 1.5rem;
  }

  /* .navMenu {
    height: 94.6vh;
    top: 5.4vh;
  } */
}

@media screen and (min-width: 968px) {
  .navbar {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 3vw;
  }

  .hamburger {
    display: none;
  }
}
