.container {
  min-width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  border-right: solid rgba(255, 114, 92, 0.33);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary-color);
  width: 3.5rem;
  height: 3.5rem;
  border: 4px solid black;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 90%;
    padding: 0.5rem 1.5rem;
  }
  .container p {
    font-size: 1.5rem;
  }

  .iconContainer {
    width: 5rem;
    height: 5rem;
    border-width: 6px;
  }
}
