.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  background-color: var(--background-color);
  color: #ffffff70;
}

.links,
.copy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.links {
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}
.links a {
  color: #ffffff70;
  font-size: 1rem;
  font-weight: 900;
}

.links a:hover {
  color: #fff;
}

.copy span {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .links {
    gap: 3rem;
  }
  .links {
    flex-direction: row;
  }
}
