.container {
  min-height: 115vw;
}

.section {
  min-height: 115vw;
  padding: 10vw 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.sectionText {
  width: 100%;
  position: relative;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  min-height: 30vw;
  padding: 1.35rem;
}

.sectionText > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
  width: 100%;
}
.sectionText > div h3 {
  font-size: 1.5rem;
}
.sectionText > div h4 {
  font-size: 1.25rem;
}
.sectionText > div p {
  font-size: 1.25rem;
}
.sectionText > div span {
  font-size: 120%;
  font-weight: 900;
  color: var(--primary-color);
}

.image {
  position: relative;
  width: 100%;
  height: 80vw;
}

/* Utility classes */
.columnReverse {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 25vh;
  }

  .section {
    min-height: 25vh;
    flex-direction: row-reverse;
    gap: 0;
    padding: 0;
  }

  .sectionText {
    align-items: center;
    justify-content: start;
    width: 50vw;
    padding: 0 1.9vw;
  }

  .reverse .sectionText {
    padding: 0;
    padding-left: 4vw;
  }

  .image {
    width: 55%;
    height: 30vw;
  }

  /* Utility classes */
  .reverse {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    min-height: 50vh;
  }

  .sectionText > div {
    line-height: 8vh;
  }
  .sectionText > div h3 {
    font-size: 3vw;
  }
  .sectionText > div p {
    font-size: 2.5vw;
  }
  .sectionText > div span {
    font-size: 3vw;
  }

  /* Custom classes */
}

@media screen and (max-width: 300px) {
  .section {
    min-height: 21rem;
  }
}
