.container {
  min-height: 100vh;
  display: grid;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(180deg, #ff0099 0%, #661144 48.44%, #ff0099 100%);
}

.form > h3 {
  font-size: 1.5rem;
}

.form h3 a {
  color: #3399ff;
}

.greetings {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  text-align: center;
  padding-top: 3rem;
}

.greetings h2 {
  font-size: 2rem;
}
.greetings p {
  max-width: 20rem;
  font-family: var(--font-secondary);
  font-weight: 100;
}

.formContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4rem 4rem 0 0;
  text-align: center;
  color: #5d6b70;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  */
.form .toggle {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}

.toggle__wrapper .toggle__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.toggle__options .toggle__field input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  border: 1px solid #000;
}

.toggle__options .toggle__field {
  padding: 0.5rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.toggle__options .toggle__field.activeProfile {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 700;
}

/*  */

.form .inputs {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.terms {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.terms > div {
  width: 1rem;
  height: 1rem;
  border: 3px solid #ffd0ec;
  cursor: pointer;
}

.terms h6 {
  font-size: 0.75rem;
}

.terms .accepted {
  background-color: var(--primary-color);
}

.submitBtn {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.login .formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .greetings {
    padding: 0 0 0 2rem;
  }

  .form .toggle {
    min-width: 300px;
    align-self: flex-end;
  }

  .form .inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .container.login .inputs {
    grid-template-columns: auto;
  }

  .login .greetings {
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 3fr;
    place-items: center;
    background: linear-gradient(
      90deg,
      #ff0099 0%,
      #661144 48.44%,
      #ff0099 100%
    );
  }

  .greetings h2 {
    font-size: 3rem;
  }

  .greetings {
    max-width: 500px;
  }

  .form > h3 {
    font-size: 2rem;
  }

  .formContainer {
    border-radius: 60px 0 0 60px;
    height: auto;
  }

  .form .inputs {
    column-gap: 8vw;
  }

  .form .inputs,
  .submitBtn,
  .terms {
    padding: 0 2rem;
  }

  .submitBtn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .submitBtn h3 {
    font-size: 0.85rem;
  }

  .container.login {
    grid-template-columns: 1fr 1fr;
  }

  .container.login h3:first-child {
    margin-bottom: 2vw;
  }

  .container.login .formContainer {
    order: -1;
    border-radius: 0 60px 60px 0;
    padding-top: 5vw;
  }
}
