:root {
  --primary-color: #ff0099;
  --secondary-color: #ffe6f5;
  --background-color: #1a2e35;
  --gray-text: #8e8e8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  background: transparent;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
button:hover {
  cursor: pointer;
}
input {
  outline: none;
  background: transparent;
}

.icon {
  width: 1rem;
}
.icon-lg {
  width: 2rem;
}

.primaryBtn {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 700 !important;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.heroText h2 {
  font-size: 2.75rem;
}
.heroText h3 {
  font-size: 1.5rem;
}
.heroText h4 {
  font-size: 1rem;
  font-weight: 100;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* line-height: 2rem; */
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 2.5rem;
}
.text h3 {
  font-size: 1.5rem;
}
.text h4 {
  font-size: 1.25rem;
}
.text p {
  font-size: 1.25rem;
}
.text span {
  font-size: 130%;
  font-weight: 900;
}

.text-white {
  color: #fff;
}
.text-left {
  text-align: left;
}

.section {
  min-height: 175vw;
  display: grid;
  place-items: center;
  align-items: center;
}
.bgPrimary {
  background-color: var(--primary-color);
}
.bgPrimary .text {
  color: #fff;
}

.relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  .heroText h2 {
    font-size: 5rem;
  }
  .heroText h3 {
    font-size: 2.85rem;
  }
  .heroText h4,
  .heroText span {
    font-size: 1.5rem;
  }

  .text {
    align-items: start;
    text-align: left;
  }
  .text h1 {
    font-size: 2rem;
  }

  .section {
    min-height: 50vw;
    grid-template-columns: 1fr 1fr;
  }

  .section.reverse > div:first-child {
    order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .heroText {
    text-align: left;
    align-items: start;
  }
  .heroText h2 {
    font-size: 4rem;
  }
  .heroText h3 {
    font-size: 2.25rem;
  }
  .heroText h4,
  .heroText span {
    font-size: 1rem;
  }

  .text h1 {
    font-size: 3.25vw;
  }
  .text h3 {
    font-size: 1.5vw;
  }
  .text h4 {
    font-size: 1.75vw;
  }
  .text h5 {
    font-size: 1.5vw;
  }
  .text h6 {
    font-size: 1vw;
  }
  .text p {
    font-size: 2.25vw;
  }

  .section {
    min-height: 60vh;
    gap: 2rem;
  }

  .icon-lg {
    width: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .heroText {
    gap: 1.5rem;
  }
  .heroText h2 {
    font-size: 5.5rem;
  }
  .heroText h3 {
    font-size: 3.2rem;
  }
  .heroText h4,
  .heroText span {
    font-size: 1.5rem;
  }

  .text {
    gap: 1.75rem;
  }
}
