.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 370px;
  background-image: url("/assets/images/home/heroBackground.svg");
}
.heroText h3 {
  color: var(--primary-color);
}
.heroText span {
  position: relative;
  margin-left: 1.75rem;
}
.heroText span::before {
  content: "";
  position: absolute;
  transform: translate(-45%, -20%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #d1d1d4;
  z-index: -1;
}

.quoteImage {
  position: relative;
  width: 225px;
  height: 225px;
  z-index: 99;
}
.quoteImage::after {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  border: 8px solid white;
  transform: translate(-10%, -5%);
  z-index: -1;
}
.quoteImage::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  border-top: 8px solid white;
  border-right: 8px solid white;
  transform: translate(25%, 20%);
  z-index: -1;
}
.quoteImage > span {
  font-weight: 600;
  font-size: 1.25rem;
  position: absolute;
  bottom: -6%;
  right: -10%;
  color: var(--primary-color);
  background-color: #fff;
  padding: 0.75rem 1.5rem;
}

.quoteText {
  font-family: var(--font-secondary);
  color: #fff;
  font-weight: 400;
  padding: 1rem;
}

.cardContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 1rem;
  gap: 1rem;
}

.cardContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 1.5rem;
  height: 100%;
  z-index: -1;
}

.cardContainer::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  top: 0;
  background-color: var(--primary-color);
  width: 4.5rem;
  height: 100%;
  z-index: -1;
}

.runningText p {
  padding: 0 6vw;
}

.underline {
  position: relative;
  font-weight: 100;
}
.underline::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.75rem;
  transform: translateX(-50%);
  width: 40%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-color);
}

.btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contestContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contestLogo {
  width: 5rem;
  height: 5rem;
}

.terms {
  background-color: var(--primary-color);
  padding: 3rem 1rem 2rem;
}
.terms h6 {
  font-family: var(--font-secondary);
  font-size: 0.85rem;
  color: #fff;
  font-weight: 100;
  line-height: 200%;
}
.terms h6 span {
  font-family: var(--font-secondary);
  font-size: 110%;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero::before {
    width: 370px;
  }
  .heroText h3 {
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
  }
  .heroText button {
    margin-top: 1.5rem;
  }
  .heroText span::before {
    width: 3rem;
    height: 3rem;
  }

  .runningText p {
    padding: 0;
  }

  .underline::before {
    left: 0;
    bottom: -2vw;
    transform: translateX(0);
  }

  .btns {
    justify-content: start;
  }

  section:has(.cardContainer) {
    margin-top: 3vw;
  }

  .contestContainer {
    flex-direction: row;
    margin-left: 2vw;
    gap: 3rem;
  }

  .contestLogo::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1.5rem;
    width: 3px;
    border-radius: 3px;
    height: 100%;
    background-color: #fff;
  }

  .contestImage {
    width: 100%;
    height: 75%;
  }

  /* .contestImage::before {
    content: "";
    position: absolute;
    top: 0;
    right: -60%;
    width: 100%;
    height: 100%;
    transform: rotate(-61deg);
    background-color: var(--primary-color);
  } */

  .terms {
    padding-top: 2rem;
  }

  .terms h6 {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .quoteImage {
    width: 30vw;
    height: 30vw;
  }
  .quoteImage::after {
    width: 25vw;
    height: 25vw;
    border-width: 12px;
  }
  .quoteImage::before {
    width: 25vw;
    height: 25vw;
    border-width: 12px;
  }
  .quoteImage > span {
    font-size: 1.75rem;
    right: -7.5%;
    padding: 1rem 2rem;
  }

  .quoteText {
    font-weight: 100;
    line-height: 150%;
    padding: 10vw 2vw;
  }

  .underline::before {
    bottom: -1vw;
  }

  .cardContainer {
    gap: 2rem;
  }

  .contestContainer {
    gap: 6rem;
    margin-left: 5vw;
  }

  .contestLogo {
    width: 8rem;
    height: 8rem;
  }

  .contestLogo::after {
    right: -3rem;
  }
}
